body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  margin-bottom: 150px;
}

.width-half {
  width: 50%;
  padding-left: 15%;
}

.width-half img {
  width: 55%;
  margin-top: -5%;
}

h1 {
  font-size: 55px;
  padding-left: 10px;
}

#hero-title {
  border-left: 7px solid;
  border-color: #ff5959;
}

.text-orange {
  color: #ffad5a;
}

.p-info {
  color: #3e3e3e;
  margin: 30px 0;
}

.orange-btn {
  text-decoration: none;
  color: #fff;
  background-color: #ff5959;
  padding: 12px;
  border-radius: 5px;
  margin-top: 10px;
}

.mission-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.mission-card {
  width: 30%;
  padding: 25px;
  border-radius: 17px;
}

.card-1 {
  margin-left: 15%;
  background-color: #4f9da61a;
}

.card-2 {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ff59591a;
}

.card-3 {
  margin-right: 15%;
  background-color: #fff4d6;
}

.mission-card img {
  width: 30%;
}

.dev-area {
  margin-top: 200px;
  background-image: url(img/shape-1.png);
  background-repeat: no-repeat;
  background-size: 215px;
  background-position: 10% 15%;
}

.dev-text-part {
  width: 50%;
  margin-right: 10%;
}

.dev-img-part {
  width: 50%;
}

.dev-img-part img {
  width: 45%;
  margin-left: 35%;
}

h3 {
  font-size: 35px;
}

.global-area {
  margin-top: 200px;
  background-image: url(img/shape-1.png);
  background-repeat: no-repeat;
  background-size: 215px;
  background-position: 93% 99%;
}

.global-text-part {
  width: 50%;
  margin-left: 16%;
}

.global-img-part {
  width: 50%;
}

.global-img-part img {
  width: 45%;
  margin-left: 25%;
}

.footer {
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 15px;
}

.footer-title {
  font-weight: 100;
  font-family: "Lobster", cursive;
}

.text-red {
  color: #ff5959;
}

.contact {
  margin-bottom: 100px;
}
.contact h3 {
  text-align: center;
}

.contact-form {
  width: 600px;
  margin: auto;
}

.contact-box {
  display: block;
  width: 100%;
  margin: 16px;
  padding: 20px 40px;
  box-sizing: border-box;
}

#message-box {
  resize: none;
  height: 100px;
}

.contact-btn {
  border: none;
  margin-left: 40%;
  padding: 15px 47px;
}
